<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="doc.file.mapper.TreeMapper">
	<resultMap id="EntityResultMap" type="doc.file.entity.Tree">
		<id column="id" jdbcType="VARCHAR" property="id" />
	</resultMap>
	<resultMap id="ViewResult" type="doc.file.view.TreeV"
		extends="EntityResultMap">
		
		
	</resultMap>
	<resultMap id="ViewResult2" type="doc.file.entity.Directory"
		extends="EntityResultMap">
		
		
	</resultMap>
	<select id="selectStudentCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) as shu
		from doc_tree
		where 1=1
		<if test="id != null">
			AND ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="mingCheng != null">
			AND MingCheng like #{mingCheng,jdbcType=VARCHAR}
		</if>
		<if test="parentId != null">
			AND parentId= #{parentId,jdbcType=VARCHAR}
		</if>
		<if test="creator != null">
			AND creator= #{creator,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) as shu
		from doc_tree
		where 1=1
		<if test="id != null">
			AND ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="mingCheng != null">
			AND MingCheng like #{mingCheng,jdbcType=VARCHAR}
		</if>
		<if test="parentId != null">
			AND parentId= #{parentId,jdbcType=VARCHAR}
		</if>
		<if test="xueqi != null">
			AND xueqi= #{xueqi,jdbcType=VARCHAR}
		</if>
		<if test="creator != null">
			AND creator= #{creator,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- 分页查询 -->
	<select id="selectPage" parameterType="java.util.Map" resultMap="ViewResult">
		SELECT T.* FROM doc_tree T  
		WHERE 1=1
		<if test="id != null">
			AND id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="mingCheng != null">
			AND mingcheng like #{mingCheng,jdbcType=VARCHAR}
		</if>
		<if test="parentId != null">
			AND parentId= #{parentId,jdbcType=VARCHAR}
		</if>
		<if test="creator != null">
			AND creator= #{creator,jdbcType=VARCHAR}
		</if>
		<if test="xueqi != null">
			AND xueqi= #{xueqi,jdbcType=VARCHAR}
		</if>
		limit #{begin}, #{end}
	</select>
	<!-- 分页查询 -->
	<select id="selectStudentPage" parameterType="java.util.Map" resultMap="ViewResult">
		SELECT d.* FROM  doc_tree d left join  doc_user_tree T on T.treeId=d.id  
		WHERE 1=1
		<if test="id != null">
			AND id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="mingCheng != null">
			AND mingcheng like #{mingCheng,jdbcType=VARCHAR}
		</if>
		<if test="xueqi != null">
			AND xueqi= #{xueqi,jdbcType=VARCHAR}
		</if>
		<if test="parentId != null">
			AND parentId= #{parentId,jdbcType=VARCHAR}
		</if>
		<if test="creator != null">
			AND T.userID= #{creator,jdbcType=VARCHAR}
		</if>
		limit #{begin}, #{end}
	</select>
	
	<!-- 分页查询 -->
	<select id="selectAll" parameterType="java.util.Map" resultMap="ViewResult2">
		SELECT T.* FROM doc_tree T  
	</select>
	<!-- 查询单个 -->
	<select id="get" parameterType="java.lang.String" resultMap="EntityResultMap">
		select
		*
		from doc_tree
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="show" parameterType="java.lang.String" resultMap="ViewResult">
		select
		*
		from doc_tree
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="delete" parameterType="java.lang.String">
		delete from doc_tree
		where
		id=#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="doc.file.entity.Tree">
		insert into doc_tree
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="mingCheng != null">
				MingCheng,
			</if>
			<if test="parentId != null">
				parentId,
			</if>
			<if test="lei != null">
				lei,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="virtualPath != null">
				virtualPath,
			</if>
			<if test="realPath != null">
				realPath,
			</if>			
			<if test="secret != null">
				secret,
			</if>
			<if test="memo != null">
				memo,
			</if>			
			<if test="creator != null">
				creator,
			</if>			
			<if test="xueqi != null">
				xueqi,
			</if>			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="mingCheng != null">
				#{mingCheng,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="lei != null">
				#{lei,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="virtualPath != null">
				#{virtualPath,jdbcType=VARCHAR},
			</if>
			<if test="realPath != null">
				#{realPath,jdbcType=VARCHAR},
			</if>			
			<if test="secret != null">
				#{secret,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="xueqi != null">
				#{xueqi,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<insert id="insertTree" parameterType="doc.file.entity.Directory">
		insert into doc_user_tree
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				userid,
			</if>
			<if test="id != null">
				treeid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="doc.file.entity.Tree">
		update doc_tree
		<set>
			<if test="mingCheng != null">
				MingCHeng = #{mingCheng,jdbcType=VARCHAR},
			</if>
			<if test="virtualPath != null">
				#{virtualPath,jdbcType=VARCHAR},
			</if>
			<if test="secret != null">
				#{secret,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>	
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	
	
	
</mapper>